body {
    overflow: hidden;
    background-color: transparent;
    background-image: none;
}

.overlay {
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    color: rgba(0, 0, 0, 0);
    border-radius: 0;
}